// Spacers
// --------------------------------- \\

$spacer-small: 2rem;
$spacer-medium: 4rem;

// --------------------------------- \\
// Colours
// --------------------------------- \\

$theme-blue:        #429fd9;
$theme-red:         #ef476f;
$theme-green:       #46b29d;
$theme-orange:      #e37b3f;
$theme-yellow:      #f0ca4d;
$colour-white:      #fff;
$colour-black:      #000;

$colour-grey-lightest: #f5f5f5;
$colour-grey-light:    #ebebeb;
$colour-grey:          #4e4e50;
$colour-grey-dark:     #363f48;
$colour-grey-darkest:  #2b353a;

// --------------------------------- \\
// Typography
// --------------------------------- \\

$body-color: $colour-grey-darkest;
$body-font: 'Arial', 'Helvetica', sans-serif;
$body-font-weight: 400;
$body-line-height: 1.8;

// Font Sizes
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-xlarge: 44px;
$font-size-xxlarge: 68px;

// Headings
$heading-font: $body-font;
$heading-line-height: 1.2;


$base-padding-space: 2rem; 
$base-layout-columns: 12;
$base-layout-gutter: 3.2rem;

// --------------------------------- \\
// Containers
// --------------------------------- \\

$container-max-width-small: 100%;
$container-max-width-medium: 100%;
$container-max-width-large: 100%;
$container-max-width-xlarge: 152rem;
$container-max-width-xxlarge: 152rem;
$container-padding-small: 0 2rem;
$container-padding-medium: 0 4rem;

$row-display: flex;
$row-margin: 0 auto;


// --------------------------------- \\
// Spacers
// --------------------------------- \\
$spacer-xsmall: 0.4rem;
$spacer-small: 1.2rem;
$spacer-medium: 2.4rem;
$spacer-large: 3.2rem;
$spacer-xlarge: 6rem;
$spacer-xxlarge: 8rem;