.site-footer {
  padding: $spacer-medium 0;

  .footer-left,
  .footer-right {
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint(large) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .footer-branding {
    max-width: 24rem;
    margin: auto;

    @include breakpoint(large) { 
      margin: 0;
    }
  }

  .footer-right {
    margin-top: $spacer-medium;
    p {
      text-align: center;

      @include breakpoint(large) { 
        text-align: right;
      }
    }
  }
}