.tabs {
  &__nav {
    
    button {
      width: 100%;
      margin-bottom: $spacer-small;
      margin-right: $spacer-small;
      padding: $spacer-small $spacer-medium;
      color: $theme-orange;
      background-color: transparent;
      border: solid 2px $theme-orange;
      border-radius: 0.4rem;

      @include breakpoint(large) {
        width: auto;
      }

      &.is-active {
        color: $colour-white;
        background-color: $theme-orange;
      }
    }
  }
  &__list {
    .tab-panel {
      display: none;

      &.is-active {
        display: block;
      } 
    }
  }
}