<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col col--6-medium col--3-large">
        <p class="footer__menus__heading">News and information</p>
        <ul class="footer__nav padding-none is-unstyled">
            <li><a href="https://energy-hq.co.uk/news-and-information/news/"  title="News">News</a></li>
            <li><a href="https://energy-hq.co.uk/news-and-information/blog/"  title="Blog">Blog</a></li>
            <li><a href="https://energy-hq.co.uk/news-and-information/energy-know-how/"  title="Energy Know How">Energy Know How</a></li>
        </ul>

      </div>
      <div class="col col--6-medium col--3-large">
        <p class="footer__menus__heading">Products and solutions</p>
        <ul class="footer__nav padding-none is-unstyled">
          <li><a href="https://energy-hq.co.uk/products-and-solutions/demand-management-and-asset-flexibility/"  title="Demand Management services">Demand Management services</a></li>
          <li><a href="https://www.energy-hq.co.uk/products-and-solutions/metering-and-monitoring-technologies/ "  title="Metering and monitoring technologies">Metering and monitoring technologies</a></li>
          <li><a href="https://www.energy-hq.co.uk//products-and-solutions/energy-efficiency/ "  title="Energy efficiency">Energy efficiency</a></li>
          <li><a href="https://www.energy-hq.co.uk/products-and-solutions/education-and-behaviour-change/ "  title="Education and Behaviour Change">Education and Behaviour Change</a></li>
        </ul>
      </div>
      <div class="col col--6-medium col--3-large">
        <p class="footer__menus__heading">Useful links</p>
        <ul class="footer__nav padding-none is-unstyled">
          <li><a href="https://www.npower.com/ui/nbs-privacy-policy/" target="_blank" title="Privacy policy">Privacy policy</a></li>
          <li><a href="https://www.energy-hq.co.uk/about-energy-hq/"  title="About Energy HQ">About Energy HQ</a></li>
          <li><a href="https://www.npower.com/about-npower/cookies/" target="_blank" title="Cookies">Cookies</a></li>
          <li><a href="https://www.npower.com/about-npower/accessibility/" target="_blank" title="Accessibility">Accessibility</a></li>
          <li><a href="https://npower-customerportal.force.com/apex/externalGDPR/" target="_blank" title="Customer contact details and marketing preferences">Customer contact details and marketing preferences</a></li>
        </ul>
      </div>
      <div class="col col--6-medium col--3-large">
        <p>Follow us</p>
          <a href="https://www.linkedin.com/company/npower-business-solutions" target="_blank">
                  <img src="https://f.hubspotusercontent00.net/hubfs/8900251/EHQ%20Calendar%20Form/linkedin_logo.png">
          </a>
          <a href="https://twitter.com/npower_nbs" target="_blank">
                  <img src="https://f.hubspotusercontent00.net/hubfs/8900251/EHQ%20Calendar%20Form/twitter_logo.png">
          </a>
          <a href="https://www.youtube.com/channel/UCRVvcAhKd_XBwlNZUDIKpKQ" target="_blank">
              <img src="https://f.hubspotusercontent00.net/hubfs/8900251/EHQ%20Calendar%20Form/youtube.png">
          </a>
          <img class=" responsive-image" src="https://f.hubspotusercontent00.net/hubfs/8900251/EHQ%20Calendar%20Form/logo-footer.png" alt="" class="footer__logo margin-top-large">
      </div>
    </div>
    <div class="row justify-content-center footer__award margin-y-large">
      <div class="footer__award__wrap">
          <a class="margin-x-small">
              <img src="https://f.hubspotusercontent00.net/hubfs/8900251/EHQ%20Calendar%20Form/trust.png">
          </a>
          <a class="margin-x-small"></a>
              <img src="https://f.hubspotusercontent00.net/hubfs/8900251/EHQ%20Calendar%20Form/oma-winner.png">
          </a>
          <a class="margin-x-small"></a>
              <img src="https://f.hubspotusercontent00.net/hubfs/8900251/EHQ%20Calendar%20Form/iso.png">
          </a>
          <a class="margin-x-small"></a>
              <img src="https://f.hubspotusercontent00.net/hubfs/8900251/EHQ%20Calendar%20Form/flex.png">
          </a>
      </div>
    </div>
    <div class="row">
      <div class="col--12-small margin-top-xlarge">
        <p class="is-text-center">©2020 - npower Business Solutions</p>
        <p class="is-text-center">We are committed to processing your personal data fairly and in accordance with the requirements of data protection law so if you would like to update your personal details or contact preferences then please visit <a rel="noopener" href="https://www.npower.com/consent-preference-nbs" target="_blank">click here</a>.</p>
        <p class="is-text-center">Phone calls: We may monitor and/or record calls for security, quality or training purposes. Call charges to numbers beginning with 0800 should be free if you are calling from a business mobile or landline but this will depend on your contract.</p>
        <p class="is-text-center">Registered Office: npower Limited, Windmill Hill Business Park, Whitehill Way, Swindon SN5 6PB. Registered in England and Wales: number 3653277</p>
      </div>
    </div>
  </div>
</footer>
