<!--
  templateType: global_partial
  label: Website header
-->
<header class="header">

  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
  <a href="#main-content" class="header__skip">Skip to content</a>
  <!-- Header Top -->
  <div class="header__top has-bg-grey-lightest">
    <div class="container is-flex is-flex-wrap justify-end">
      {% module 'header-top-nav' path='../../modules/menu-header-top',
        label='Header Top Nav'
      %}
    </div>
  </div>
  <!-- Header Main -->
  <div class="header__main">
    <div class="container is-flex align-center">
      <div class="header__branding">
        {# Header logo column #}
            {% module 'site_logo' path='@hubspot/logo' %}
        {# End header logo column #}
      </div>
      <div class="header__nav">
        <ul class="is-inline-flex is-flex-wrap nav-links--main">

          <li class="top-level-link">
                  <a href="/" class=""><span>Home</span></a>
          </li>
          <li class="top-level-link has-sub">
                  <a href="/products-and-solutions/" class="mega-menu noAction"><span>Products &amp; solutions</span></a>
                  <div class="sub-menu-block">
                      <div class="row">
                                  <div class="col">

                                              <h2 class="sub-menu-head"><a href="/products-and-solutions/market-access-services/">Market Access services</a></h2>
                                                  <ul class="sub-menu-lists">
                                                          <li><a href="/products-and-solutions/market-access-services/flexible-energy-purchasing/">Flexible energy purchasing</a></li>
                                                          <li><a href="/products-and-solutions/market-access-services/power-purchase-agreements/">Power purchase agreements</a></li>
                                                          <li><a href="https://energy-hq.co.uk/products-and-solutions/demand-management-asset-flexibility/">Demand management and asset flexibility</a></li>
                                                  </ul>
                                              <h2 class="sub-menu-head"><a href="/products-and-solutions/metering-and-monitoring-technologies/">Metering and monitoring technologies</a></h2>
                                                  <ul class="sub-menu-lists">
                                                          <li><a href="/products-and-solutions/metering-and-monitoring-technologies/insite/">in:site</a></li>
                                                          <li><a href="/products-and-solutions/metering-and-monitoring-technologies/smart-meters/">Smart Meters</a></li>
                                                          <li><a href="/products-and-solutions/metering-and-monitoring-technologies/mandatory-metering-services/">Mandatory metering services</a></li>
                                                          <li><a href="/products-and-solutions/metering-and-monitoring-technologies/intelligent-analytics/">Intelligent Analytics</a></li>
                                                          <li><a href="/products-and-solutions/metering-and-monitoring-technologies/intelligent-analytics-alarms-monitoring-your-usage-while-working-from-home/">Intelligent Analytics alarms</a></li>
                                                  </ul>
                                  </div>
                                  <div class="col">

                                              <h2 class="sub-menu-head"><a href="/products-and-solutions/energy-efficiency/">Energy efficiency solutions</a></h2>
                                                  <ul class="sub-menu-lists">
                                                          <li><a href="/products-and-solutions/energy-efficiency/energy-savings-opportunity-scheme-esos/">ESOS</a></li>
                                                          <li><a href="/products-and-solutions/energy-efficiency/energy-consultancy/">Energy Consultancy</a></li>
                                                          <li><a href="/products-and-solutions/energy-efficiency/compliance/">Compliance</a></li>
                                                  </ul>
                                              <h2 class="sub-menu-head"><a href="/products-and-solutions/technical-energy-projects/">Technical energy project support</a></h2>
                                  </div>
                                  <div class="col">

                                              <h2 class="sub-menu-head"><a href="/products-and-solutions/education-and-behaviour-change/">Education and behavioural change</a></h2>
                                                  <ul class="sub-menu-lists">
                                                          <li><a href="/products-and-solutions/education-and-behavioural-change/carbon-psychology/">Carbon Psychology</a></li>
                                                          <li><a href="/products-and-solutions/education-and-behavioural-change/energy-management-qualifications/">Energy Managers Qualification</a></li>
                                                          <li><a href="/products-and-solutions/education-and-behavioural-change/accreditation/">Accreditation</a></li>
                                                  </ul>
                                              <h2 class="sub-menu-head"><a href="/products-and-solutions/policy-advice/">Policy advice</a></h2>
                                              <h2 class="sub-menu-head"><a href="/products-and-solutions/">View all products and solutions</a></h2>
                                              <h2 class="sub-menu-head"><a href="/products-and-solutions/case-studies/">Case Studies</a></h2>
                                  </div>
                      </div>
                  </div>
          </li>
          <li class="top-level-link">
                  <a href="/net-zero/" class=""><span>Net Zero</span></a>
          </li>
          <li class="top-level-link has-sub">
                  <a href="/information-and-resources/" class="mega-menu noAction"><span>Information &amp; resources</span></a>
                  <div class="sub-menu-block">
                      <div class="row">
                                  <div class="col col--6">
                                      <h2 class="sub-menu-head sub-menu-head--alt">Content Type</h2>
                                      <ul class="sub-menu-lists sub-menu-lists--mod">

                                              <li>
                                                  <a href="/information-and-resources/articles/"><div class="type-picker__type"><p class="card__type card__type--article"> Article</p></div></a>
                                             </li>
                                              <li>
                                                  <a href="/information-and-resources/downloads/"><div class="type-picker__type"><p class="card__type card__type--download"> Download</p></div></a>
                                             </li>
                                              <li>
                                                  <a href="/information-and-resources/podcasts/"><div class="type-picker__type"><p class="card__type card__type--podcast"> Podcast</p></div></a>
                                             </li>
                                              <li>
                                                  <a href="/information-and-resources/webinars/"><div class="type-picker__type"><p class="card__type card__type--webinar"> Webinar</p></div></a>
                                             </li>
                                          <li><a href="/products-and-solutions/case-studies/"><div class="type-picker__type"><p class="card__type card__type--article">Case Studies</p></div></a></li>
                                      </ul>

                                  </div>
                                  <div class="col-xl-6">
                                      <h2 class="sub-menu-head sub-menu-head--alt">Categories</h2>
                                      <ul class="sub-menu-lists sub-menu-lists--mod">

                                                  <li>
                                                      <a href="/information-and-resources/future-of-energy/">Future of Energy</a>
                                                  </li>
                                                  <li>
                                                      <a href="/information-and-resources/energy-made-simple/">Energy Made Simple</a>
                                                  </li>
                                                  <li>
                                                      <a href="/information-and-resources/energy-prices-policy/">Energy prices &amp; policy</a>
                                                  </li>
                                                  <li>
                                                      <a href="/information-and-resources/reducing-costs-carbon/">Reducing Costs &amp; Carbon</a>
                                                  </li>
                                                  <li>
                                                      <a href="/information-and-resources/revenue-opportunities/">Revenue Opportunities</a>
                                                  </li>
                                                  <li>
                                                      <a href="/information-and-resources/industry-market-news/">Industry &amp; Market News</a>
                                                  </li>

                                      </ul>

                                  </div>
                      </div>
                  </div>
          </li>
          <li class="top-level-link">
                  <a href="/energy-management-toolkit/cost-predictor/" class=""><span>Cost Predictor</span></a>
          </li>
                          <li class="top-level-link top-nav-item"><a href="/about-energy-hq/" class="navigation-item">About Energy HQ</a></li>
          <!-- <li class="top-level-link top-nav-item"><a href="/contact-us/" class="navigation-item">Contact</a></li>
          <li class="top-level-link top-nav-item"><a href="/" class="navigation-item">Dashboard</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</header>
