.header {
  background-color: #fff;
  .container {
    width: 90%;
    max-width: 152rem;
  }

  &__top {
    display: none;
    padding: 1rem 0;

    @media(min-width: 1400px) {
      display: block;
    }
  }

  &__main {
    padding: 20px 0;

    @media(min-width: 1400px) {
      padding: 0;
    }
  }

  &__branding {
    img {
      display: block;
      width: 100%;
      max-width: 24rem;
      height: auto;
    }

    @include breakpoint(medium) {
      max-width: 29rem;
    }
  }

  &__nav {
    display: flex !important;
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;
    width: auto;

    @media(min-width: 1200px) {
      margin-left: auto;
    }
  }

  &__toggle {
    margin-left: auto;

    @media(min-width: 1400px) {
      display: none;
    }
  }
}