.header {
  &__top {
    padding: 1rem 0;
  }

  &__branding {
    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    @include breakpoint(medium) {
      max-width: 29rem;
    }
  }

  &__nav {
    display: flex !important;
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;
    width: auto;

    @media(min-width: 1200px) {
      margin-left: auto;
    }
  }
}