.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $theme-blue;
  z-index: 8000;
  visibility: hidden;
  opacity: 0;

  &.is-active {
    visibility: visible;
    opacity: 0.8;
  }
}